<div class="row">
  <div class="col-md-12">{{ content.top }}</div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
  <li><a data-toggle="tab" href="#tab2">Latest images</a></li>
  <li><a data-toggle="tab" href="#tab3">Species list</a></li>
  <li><a data-toggle="tab" href="#tab4">Statistics</a></li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane fade in active">
    <div class="row">
      <div class="col-md-12">{{ content.tab1top }}</div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{ drupal_plugin_block('ns_wild_place_map_block', false) }}
        {{ content.tab1col1 }}
      </div>
      <div class="col-md-3">{{ content.tab1col2 }}</div>
      <div class="col-md-4">{{ content.tab1col3 }}</div>
    </div>
    <div class="row">
      <h2>Latest records</h2>
      {{ drupal_plugin_block('ns_wild_place_latest_records_block', false) }}
      <div class="col-md-12">{{ content.tab1bottom }}</div>
    </div>
  </div>
  <div id="tab2" class="tab-pane fade">
    {{ drupal_plugin_block('ns_wild_place_latest_images_block', false) }}
    {{ content.tab2 }}
  </div>
  <div id="tab3" class="tab-pane fade">
    {{ drupal_plugin_block('ns_wild_place_species_block', false) }}
    {{ content.tab3 }}
  </div>
  <div id="tab4" class="tab-pane fade">
    {{ drupal_plugin_block('ns_wild_place_statistics_block', false) }}
    {{ content.tab4 }}
  </div>
</div>