{#
/**
 * @file
 * Template to provide expert HTML for the field.
 *
 * Available variables:
 * - element: The field element.
 * - label: The label of the field.
 * - settings: The settings for the field.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 */
#}

{% for item in items %}
  {% set value = item.content["#text"] %}
  {% if value == "G" %}
    {% set colour = "green" %}
    {% set title = "Easily identified from a photo." %}
  {% elseif value == "A" %}
    {% set colour = "amber" %}
    {% set title = "Identifiable from a photo with care." %}
  {% elseif value == "R" %}
    {% set colour = "red" %}
    {% set title = "Cannot usually be identified from a photo." %}
  {% else %}
    {% set colour = value %}
    {% set title = "Unknown" %}
  {%  endif %}
  <div class="field row">
    <div class="col-md-3 field-label-inline">{{ label }}</div>
    <div class="col-md-9">
      <a href="{{ url('<front>') }}content/photo-identification">
        <img src="{{ url('<front>') }}sites/default/files/upload/PhotoID_{{ colour }}.jpg" width="32" height="20"
             title="{{ title }} Click for more info." />
      </a>
    </div>
  </div>
{%  endfor %}